.meteor-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    /* Put it on top temporarily to test */
    pointer-events: none;
}

.meteor {
    position: absolute;
    height: 10px;
    /* Much larger */
    width: 300px;
    /* Much longer */
    background: #ff0000;
    /* Bright red for testing */
    border-radius: 5px;
    box-shadow: 0 0 30px #ff0000;
    animation: meteorfall 5s linear infinite;
}

@keyframes meteorfall {
    0% {
        top: 0%;
        left: 100%;
        opacity: 1;
        transform: rotate(-45deg);
    }

    100% {
        top: 100%;
        left: 0%;
        opacity: 0;
        transform: rotate(-45deg);
    }
}